.wrapper-location {
	min-height: 100%;
	display: grid;
	grid-template: minmax(100px,auto) 1fr minmax(70px,auto) / 1fr ;
	grid-template-areas: 
		"header"
		"location"
		"footer";
}
.header-location {
	grid-area: header;
	padding: 15px;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
	align-items: center;
	background: black;
	border-bottom: 1px solid red;
}
.header {

		// .header__logo

		&__logo-location {
			color: white;
			grid-column: 2 / 3;
			font-size: 28px;
			
		}

		// .header__menu

		&__menu {
			grid-column: 3 / 4;
			
		}

		// .header__list

		&__list {
			display: grid;
			grid-auto-flow: column;
			justify-items: end;
			@media(max-width: 550px){
				display: none;
			}
		}
		// .heaader__link

		&__link {
			font-size: 18px;
			color: white;
			&:hover{
				color:red;
			}
		}
	}



    .location {
        background:rgb(0, 0, 0);
        padding: 30px 15px;
        
        @media(min-width: 992px){
            grid-area: location;
            display: grid;
            grid-template: 1fr / 1fr minmax(auto,300px) 1fr;
        }

		// .location__map

		&__map {
           
		}

		// .location__body

		&__body {
            @media(min-width: 992px){
                max-width: 600px;
                grid-column: 2 / 4;
                padding: 20px 0px 0px 60px;
                display: grid;
            }
            @media(max-width:992px){
                margin: 40px 0px 0px 0px;
            }
		}

		// .location__text

		&__text {
            color: whitesmoke;
            font-size: 24px;
            letter-spacing: 2px;
		}

		// .location__link

		&__link {
            color: rgb(69, 85, 69);
            font-size: 20px;
            display: grid;
            margin: 20px 0px 0px 0px;
            &:hover{
                color: red;
            }

		}
}

.location__title{
    color: whitesmoke;
}
.location__name{
    font-size: 24px;
    color: white;
    
}






    .footer-location {
        grid-area: footer;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
        padding: 15px;
        align-items: center;
        background: black;
        box-shadow: 3px 3px red, -1em 0 .4em olive;
        @media(max-width:560px){
            grid-template: 1fr 1fr / 1fr;
            text-align: center;
            
    }
    .footer {
    
            // .footer__copy
    
            &__copy {
                order: 2;
                font-size: 18px;
                color:white;
                @media(min-width: 561px){
                    grid-column: 2 / 3;
                    
                }
            }
    
            // .footer__text
    
            &__text-location {
                order: 1;
                color:white;
                font-size: 18px;
                @media(min-width: 561px){
                    
                    grid-column: 3 / 4;
                    text-align: right;
                    
                }
                
            }
    }
    }

